<div class="background">
    <div class="container text-center py-5">
        <h1 class="display-4 fw-bold mb-4 text-white">
            Welcome to VSA & CO Insurance Services
        </h1>
        <p class="lead mb-5 text-light">
            Your trusted partner for all insurance needs.
        </p>

        <div class="row g-4 justify-content-center">
            <div class="col-md-4 col-lg-3">
                <div class="card card-custom fancy-hover" (click)="openPolicy()">
                    <div class="card-image-wrapper">
                        <img src="claim.jpg" class="card-img-top" alt="View Policies">
                        <div class="card-title-overlay">
                            <h5 class="card-title fw-bold">View Available Policies</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Click to Explore Policies.</p>
                    </div>
                    <div class="card-footer">
                        Enroll Policies <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="card card-custom fancy-hover" (click)="openMyPolicy()">
                    <div class="card-image-wrapper">
                        <img src="claim.jpg" class="card-img-top" alt="My Policies">
                        <div class="card-title-overlay">
                            <h5 class="card-title fw-bold">Click to view your Policies</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Review Policies and track Status.</p>
                    </div>
                    <div class="card-footer">
                        Access Now <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="card card-custom fancy-hover" (click)="openMyClaim()">
                    <div class="card-image-wrapper">
                        <img src="claim.jpg" class="card-img-top" alt="View Claim">
                        <div class="card-title-overlay">
                            <h5 class="card-title fw-bold">CLick to View Claim</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Track Claim Status.</p>
                    </div>
                    <div class="card-footer">
                        Track Claim <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>