<div class="message">
    <div class="container mt-5 pt-5 d-flex justify-content-center align-items-center full-height">
        <div class="card beautiful-card w-50 h-auto">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-center align-items-center text-primary-dark mb-4">
                    <i class="fas fa-user-plus register-icon"></i> </h4>
                <p class="card-text d-flex justify-content-center mt-2 mb-4 text-secondary-light">Enter all your credentials to get started!</p>
                <form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
                    <div class="mb-3">
                        <label for="uName" class="form-label text-primary-dark">Name</label>
                        <input type="text" class="form-control form-control-custom" formControlName="name" id="text" placeholder="Enter Your Username">
                        <div *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched"
                            class="alert alert-danger alert-custom mt-2 mx-auto ">
                            Username Length Must Be 5-15
                        </div>
                    </div>  
                    <div class="mb-3">
                        <label for="email" class="form-label text-primary-dark">Email</label>
                        <input type="text" class="form-control form-control-custom" id="email" placeholder="Enter email" formControlName="email">
                        <div *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched"
                            class="alert alert-danger alert-custom mt-2 mx-auto">
                            Valid email is required
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="roles" class="form-label text-primary-dark">Role</label>
                        <select class="form-select form-select-custom" id="roles" formControlName="roles">
                            <option value="Customer" selected>Customer</option>
                            <option value="agent">Agent</option>
                        </select>
                    </div>

                    @if(myForm.get("roles").value === "Customer"){
                    <div class="mb-3">
                        <label for="phone" class="form-label text-primary-dark">Phone</label>
                        <input type="text" class="form-control form-control-custom" id="customerPhone" placeholder="Enter Phone Number" formControlName="customerPhone">
                        <div *ngIf="myForm.controls['customerPhone'].invalid && myForm.controls['customerPhone'].touched"
                            class="alert alert-danger alert-custom mt-2 mx-auto">
                            Valid phone number is required
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label text-primary-dark">Address</label>
                        <input type="text" class="form-control form-control-custom" id="customerAddress" placeholder="Enter Address" formControlName="customerAddress">
                        <div *ngIf="myForm.controls['customerAddress'].invalid && myForm.controls['customerAddress'].touched"
                            class="alert alert-danger alert-custom mt-2 mx-auto">
                            Address is required
                        </div>
                    </div>
                    }
                    <div class="mb-3">
                        <label for="pwd" class="form-label text-primary-dark">Password</label>
                        <input class="form-control form-control-custom" id="pwd" type="password" formControlName="password"
                            placeholder="Enter a valid password">
                        <div *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched"
                            class="alert alert-danger alert-custom mt-2 mx-auto">
                            Password is required
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="conPwd" class="form-label text-primary-dark">Confirm Password</label>
                        <input class="form-control form-control-custom" type="password" id="conPwd" formControlName="confirmPassword"
                            placeholder="Confirm your password">
                        <div *ngIf="myForm.controls['confirmPassword'].invalid && myForm.controls['confirmPassword'].touched"
                            class="alert alert-danger alert-custom mt-2 mx-auto">
                            Passwords must match
                        </div>
                    </div>
                    <div class="d-flex justify-content-center gap-3">
                        <button type="submit" class="btn btn-register btn-animated" [disabled]="myForm.invalid">Register</button>
                        <button type="reset" class="btn btn-reset btn-animated" (click)="onReset()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>